*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
/* header section style start here */
.header-section-style
{
    width: 1440px;
    height: 652px;
    background-image: url('assets/Hero-bg.png');
    text-align: center;
}
.header-section-style img{
margin-top: 20px;
}
.header-section-content-title{
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 38px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
letter-spacing: 0%;
margin-top: 20px;

}
.header-section-content-description{
    width: 852px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;

}
.header-section-content-button{
width: 160px;
height: 24px;
align-items: center;
padding: 21px 24px 21px 24px;
display: flex;
flex-direction: row;
justify-content: center;
color: rgb(255, 255, 255);
border-radius: 8px;
background: rgb(13, 19, 33);
margin-top: 50px;


}
.web-devolopment-section container
{

}
